@{
    ViewData["Title"] = "Advertencia";
}

<div class="contenedor">
    <h2>Advertencia</h2>
    <p>Para poder crear una tarea, debes añadilar a un tablero, y aun no creaste tus tableros.</p>
    <p>Para crear un tablero haz
        <a asp-area="" asp-controller="Tablero" asp-action="Create">click aquí</a>
        !
    </p>
</div>
